<div id="banner" class="carousel slide p-5 " data-bs-touch="false">
  <div class="carousel-inner">
    <div class="carousel-item active ">
      <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_1170x300/https://cdn.tgdd.vn/2023/11/banner/IP15-2400-600-1920x480.png" class="d-block w-100 " alt="...">
    </div>
    
</div>